.step-three h3{
    background-color: #4659CA;
}

.step-four h3{
    background: #059669;
}

.step-one h3{
    background: #D97706;
}

.step-two h3{
    background: #DC2626;
}

.step-three ul,.step-one ul,.step-two ul,.step-four ul{
    padding: 12px 12px 12px 36px;
    list-style-type: disc;
}

.step-three ul{
    background: #F2F4FC;
}

.step-four ul{
    background: #D1FAE5;
}

.step-one ul{
    background: #FEF3C7;
}

.step-two ul{
    background: #FEE2E2;
}

.step-width-blue{
    width: 372px;
    height: 218px;
    display: flex;
    gap: 8px;
    top: 25%;
    left: 10%;
    transform: translateX(-100%);
    filter: blur(3px);
    opacity: 0;
    transition: all 1s ease;
}

.show-blue-card{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.blue-map{
    width: 51px;
}

.step-width-green{
    width: 391px;
    height: 133px;
    display: flex;
    flex-direction: row-reverse;
    gap: 34px;
    top: 20%;
    left: -6.5%;
    filter: blur(3px);
    opacity: 0;
    transform: translateX(100%);
    transition: all 1s ease;
}

.show-green-card{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.green-map{
    width: 43px;
    top: -9px;
    left: 0;
}

.step-width-orange{
    width: 424px;
    height: 248px;
    display: flex;
    gap: 35px;
    top: 35%;
    left: 0;
    opacity: 0;
    filter: blur(3px);
    transform: translateX(-100%);
    transition: all 1s ease;
}

.show-orange-card{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.orange-map{
    width: 76px;
}

.step-width-red{
    width: 414px;
    height: 191px;
    display: flex;
    flex-direction: row-reverse;
    gap: 34px;
    top: 50%;
    left: 13%;
    opacity: 0;
    filter: blur(3px);
    transform: translateX(100%);
    transition: all 1s ease;
}

.show-red-card{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.red-map{
    width: 67px;
    left: 0;
    top: -19px;
}

.last-card{
    transform: translateX(10%);
    opacity: 0;
    filter: blur(3px);
    transition: all 1s ease;
}

.show-last-card{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}