.flexible-width{
    width: 247px;
}

.project-width{
    width: 266px;
}

.cohort-width{
    width: 301px;
}

.mentor-width{
    width: 384px;
}

.certificate-width{
    width: 204px;
}

.doubt-width{
    width: 249px;
}