@media (min-width: 1024px) {
    .flexible-width{
        width: 247px;
    }
    
    .project-width{
        width: 266px;
    }
    
    .cohort-width{
        width: 301px;
    }
    
    .mentor-width{
        width: 384px;
    }
    
    .certificate-width{
        width: 204px;
    }
    
    .doubt-width{
        width: 249px;
    }

    .projects-img{
        height: 297px;
    }

    .mentor-img{
        height: 237px;
    }

    .certification-img{
        height: 291px;
        margin-bottom: 70px;
    }

    .doubt-img{
        height: 388px;
    }
}

.mentor-imgdiv{
    flex-direction: column-reverse;
}

.featureTxt{
    position: relative;
  }

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
  
  .featureTxt::after, .featureTxt::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
  }
  .featureTxt::before{
    filter: blur(1.5rem);
    opacity: 0.5;
  }
  @keyframes spin{
    from{
      --angle: 0deg;
    }
    to{
      --angle: 360deg;
    }
  }