@media (min-width: 1024px) {
    .flexible-width{
        width: 247px;
    }
    
    .project-width{
        width: 266px;
    }
    
    .cohort-width{
        width: 301px;
    }
    
    .mentor-width{
        width: 384px;
    }
    
    .certificate-width{
        width: 204px;
    }
    
    .doubt-width{
        width: 249px;
    }

    .projects-img{
        height: 297px;
    }

    .mentor-img{
        height: 237px;
    }

    .certification-img{
        height: 291px;
        margin-bottom: 70px;
    }

    .doubt-img{
        height: 388px;
    }
}

.mentor-imgdiv{
    flex-direction: column-reverse;
}

.flexible-width{
  width: 214px;
}

.project-width{
  width: 229px;
}

.cohort-width{
  width: 258px;
}

.mentor-width{
  width: 303px;
}

.certificate-width{
  width: 180px;
}

.doubt-width{
  width: 216px;
}

.certification-img{
  margin-bottom: 35px;
}